@if (!isLoading && !isAddEquipment && !isEditEquipment) {
    <app-data-table 
        [title]="'Equipos'" [headers]="headers" [data]="equipmentsToView"
        (clickOnAdd)="addEquipmentType()"
        (clickOnEdit)="editEquipment($event)"
        (clickOnDelete)="deleteEquipment($event)"
    ></app-data-table>
} 

@if(isAddEquipment || isEditEquipment) {
    <div class="mt-10 mr-10 mx-auto bg-white rounded-lg shadow-md">
        <!-- Header -->
        <div class="primary-color text-white px-6 py-4 rounded-t-lg">
            <h2 class="text-xl md:text-2xl font-bold">{{ isAddEquipment ? 'Agregar nuevo equipo' : 'Editar equipo'}}</h2>
            <p class="text-white-100 text-sm mt-1">Complete todos los campos obligatorios (*)</p>
        </div>

        <!-- Formulario -->
        <form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()" class="p-6 space-y-6">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                <!-- Columna Izquierda -->
                <div class="space-y-6">

                     <!-- Nombre -->
                    <app-text-input
                        label="Nombre"
                        formControlName="name"
                        [required]="true"
                        [maxLength]="25"
                        placeholder="Ej. Laptop"
                        [errorMessages]="{
                            'required': 'El nombre es obligatorio',
                            'maxlength': 'Máximo 25 caracteres permitidos'
                        }"
                    ></app-text-input>

                    <app-select-input
                        label="Tipo de equipo"
                        formControlName="equipmentTypeCode"
                        [required]="true"
                        [options]="allEquipmentTypes"
                        optionValue="equipmentTypeCode"
                        optionLabel="name"
                        placeholder="Selecciona un tipo de equipo"
                        [errorMessages]="{
                            'required': 'El tipo de equipo es obligatorio'
                        }"
                    ></app-select-input>

                    <app-text-input
                        label="Marca"
                        formControlName="brand"
                        [required]="true"
                        [maxLength]="35"
                        placeholder="Ej. HP"
                        [errorMessages]="{
                            'required': 'La marca es obligatoria',
                            'maxlength': 'Máximo 35 caracteres permitidos'
                        }"
                    ></app-text-input>

                    <app-text-input
                        label="Color"
                        formControlName="color"
                        [required]="true"
                        [maxLength]="20"
                        placeholder="Ej. Negro"
                        [errorMessages]="{
                            'required': 'El color es obligatorio',
                            'maxlength': 'Máximo 20 caracteres permitidos'
                        }"
                    ></app-text-input>

                    <app-text-input
                        label="Número de serie"
                        formControlName="serialNumber"
                        [required]="true"
                        [maxLength]="50"
                        placeholder="Ej. SN123456"
                        [errorMessages]="{
                            'required': 'El número de serie es obligatorio',
                            'maxlength': 'Máximo 50 caracteres permitidos'
                        }"
                    ></app-text-input>
                </div>

                <!-- Columna Derecha -->
                <div class="space-y-6">
                    
                    <app-text-input
                        label="Modelo"
                        formControlName="model"
                        [required]="true"
                        [maxLength]="25"
                        placeholder="Ej. EliteBook"
                        [errorMessages]="{
                            'required': 'El modelo es obligatorio',
                            'maxlength': 'Máximo 25 caracteres permitidos'
                        }"
                    ></app-text-input>

                    <app-select-input
                        label="Ubicación"
                        formControlName="equipmentLocationId"
                        [required]="true"
                        [options]="allLocation"
                        optionValue="equipmentLocationId"
                        optionLabel="name"
                        placeholder="Selecciona una ubicación"
                        [errorMessages]="{
                            'required': 'La ubicación es obligatoria'
                        }"
                    ></app-select-input>

                    <app-date-input
                        formControlName="warrantyExpiredDate"
                        label="Fecha de expiración"
                        [required]="true"
                        placeholder="Selecciona la fecha de expiración"
                        [minDate]="'1900-01-01'"
                        [errorMessages]="{
                            'required': 'La fecha es requerida',
                            'max': 'La fecha no puede ser futura'
                        }"
                        class="block mb-4">
                    </app-date-input>    

                    <app-checkbox-input
                            label="Garantía expirada"
                            formControlName="isWarrantyExpired"
                    ></app-checkbox-input>

                    <!-- Estado Activo/Inactivo -->
                    @if (!isAddEquipment) {
                        <app-checkbox-input
                            label="Estado"
                            formControlName="isActive"
                        ></app-checkbox-input>
                    }
                </div>
            </div>

            <!-- Botones -->
            <div class="flex flex-col sm:flex-row gap-4 pt-6 border-t border-gray-200">
                <button
                    type="button"
                    (click)="onCancel()"
                    class="flex-1 sm:flex-none px-6 py-3 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 transition-colors font-medium"
                >
                    Cancelar
                </button>
                <button
                    type="submit"
                    [disabled]="equipmentForm.invalid && !isLoading"
                    class="flex-1 px-6 py-3 bg-blue-900 text-white rounded-lg hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors font-medium"
                >
                    Guardar
                </button>
            </div>
        </form>
    </div>
}