<div class="p-4 md:p-6 relative">

  <div class="mt-2 mr-10 mx-auto">
        <!-- Header -->
        <h2 class="text-xl md:text-2xl font-bold">Filtros de búsqueda</h2>
        <!-- Formulario -->
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="p-6 space-y-6">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-1 lg:gap-6">
                <!-- Columna Izquierda -->
                <div class="space-y-6">
                   <app-select-input
                        label="Estado de incidente"
                        formControlName="status"
                        [required]="false"
                        [options]="allIncidentStatus"
                        optionValue="value"
                        optionLabel="label"
                        placeholder="Selecciona el estado"
                        [errorMessages]="{
                            'required': 'El rol es obligatorio'
                        }"
                    ></app-select-input>
                </div>
                <div class="space-y-6">
                     <app-date-input
                        formControlName="reportedDate"
                        label="Fecha de creación"
                        placeholder="Selecciona la fecha de creación"
                        [minDate]="'1900-01-01'"
                        [maxDate]="getCurrentDate()"
                        [errorMessages]="{
                        max: 'La fecha no puede ser futura'
                        }"
                        class="block mb-4">
                    </app-date-input>
                    <app-date-input
                        formControlName="completedDate"
                        label="Fecha en que se completo"
                        placeholder="Selecciona la fecha en que se completo"
                        [minDate]="'1900-01-01'"
                        [maxDate]="getCurrentDate()"
                        [errorMessages]="{
                        max: 'La fecha no puede ser futura'
                        }"
                        class="block mb-4">
                    </app-date-input>
                </div>
                <div class="space-y-1">
                   
                    <button
                        type="submit"
                        [disabled]="!this.isSearching"
                        class="flex-1 lg:mt-5 px-6 py-3 bg-blue-900 text-white rounded-lg hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors font-medium"
                    >
                        Buscar
                    </button>
                   
                </div>
            </div>
        </form>
    </div>
    <div class="mt-0 mr-10 mx-auto">
        @if(incidents.length > 0){
             <!-- Título y controles -->
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-2xl font-bold text-gray-800">Historial de Incidentes</h2>
            </div>

            <!-- Grid de Cards -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- Card de Incidente -->
                @for (incident of incidents; track incident.incidentId) {
                    <app-incident-card [incident]="incident" [routeToDetail]="['technical-support','detail-incident',incident.incidentId.toString()]"></app-incident-card>
                }
            </div>
       } @else {
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-2xl font-bold text-gray-800">No hay incidentes coincidentes con la búsqueda</h2>
            </div>
       }
    </div>
</div>