@if (!isLoading && !isAddUser && !isEditUser) {
    <app-data-table 
        [title]="'Usuarios'" [headers]="headers" [data]="usersToView"
        [showDeleteIcon]="false"
        (clickOnAdd)="addUser()"
        (clickOnEdit)="editUser($event)"
        (clickOnDelete)="deleteUser($event)"
    ></app-data-table>
} 

@if(isAddUser || isEditUser) {
    <div class="mt-10 mr-10 mx-auto bg-white rounded-lg shadow-md">
        <!-- Header -->
        <div class="primary-color text-white px-6 py-4 rounded-t-lg">
            <h2 class="text-xl md:text-2xl font-bold">{{ isAddUser ? 'Agregar nuevo usuario' : 'Editar usuario'}}</h2>
            <p class="text-white-100 text-sm mt-1">Complete todos los campos obligatorios (*)</p>
        </div>

        <!-- Formulario -->
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="p-6 space-y-6">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                <!-- Columna Izquierda -->
                <div class="space-y-6">

                     <!-- Nombre -->
                    <app-text-input
                        label="Nombre"
                        formControlName="name"
                        [required]="true"
                        [maxLength]="25"
                        placeholder="Ej. Luis, Soporte General, Administrador"
                        [errorMessages]="{
                            'required': 'El nombre es obligatorio',
                            'maxlength': 'Máximo 25 caracteres permitidos'
                        }"
                    ></app-text-input>

                     <app-text-input
                        label="Correo"
                        formControlName="email"
                        [required]="true"
                        [maxLength]="25"
                        placeholder="Ej: correo@kinal.org.gt"
                        [errorMessages]="{
                            'required': 'El correo es obligatorio',
                            'maxlength': 'Máximo 25 caracteres permitidos',
                            'pattern': 'El formato del correo no es válido'
                        }"
                    ></app-text-input>
                </div>

                <!-- Columna Derecha -->
                <div class="space-y-6">
                    
                
                    <app-text-input
                        label="Contraseña"
                        formControlName="password"
                        [required]="true"
                        [maxLength]="75"
                        [inputType]="isEditUser ? 'password' : 'text'"
                        placeholder="Ej. axtr@12"
                        [errorMessages]="{
                            'required': 'La contraseña es obligatoria',
                            'maxlength': 'Máximo 75 caracteres permitidos'
                        }"
                    ></app-text-input>
                    
                    <app-select-input
                        label="Tipo de usuario"
                        formControlName="userTypeCode"
                        [required]="true"
                        [options]="allUserTypes"
                        optionValue="userTypeCode"
                        optionLabel="name"
                        placeholder="Selecciona un tipo de usuario"
                        [errorMessages]="{
                            'required': 'El tipo de usuario es obligatorio'
                        }"
                    ></app-select-input>

                    <!-- Estado Activo/Inactivo -->
                    @if (!isAddUser) {
                        <app-checkbox-input
                            label="Estado"
                            formControlName="isActive"
                        ></app-checkbox-input>
                    }
                </div>
            </div>

            <!-- Botones -->
            <div class="flex flex-col sm:flex-row gap-4 pt-6 border-t border-gray-200">
                <button
                    type="button"
                    (click)="onCancel()"
                    class="flex-1 sm:flex-none px-6 py-3 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 transition-colors font-medium"
                >
                    Cancelar
                </button>
                <button
                    type="submit"
                    [disabled]="userForm.invalid && !isLoading"
                    class="flex-1 px-6 py-3 bg-blue-900 text-white rounded-lg hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors font-medium"
                >
                    Guardar
                </button>
            </div>
        </form>
    </div>
}